

  <section class="page_404" >
  <div class="container">
    <div class="row"> 
      <div class="col-sm-1"></div>
    <!-- <div class="col-sm-12 "> -->
    <div class="col-sm-10 col-sm-offset-1  text-center">
    <div class="four_zero_four_bg">
      <h1 class="text-center ">500</h1>
    
    
    </div>
    
    <div class="contant_box_404">
    <h3 class="h2">
      Internal server Error !
    </h3>

    <h3 class="h2">
      Please Wait or try after some time
      </h3>

      <h2>We Suggest You Return To <button class="btn btn-danger" (click)="goBack()">Home</button>  !</h2>
    
    <!-- <h2>We Suggest You <button class="btn btn-danger" (click)="goBack()">Login</button>  !</h2> -->
    
    
  </div>
    <!-- </div> -->
    <div class="col-sm-1"></div>
    </div>
    </div>
  </div>
</section>
