body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to right, #b92b27, #1565c0);*/
    

}

footer {
    position: absolute;
    width : 100%;
    height : 8vh;
    color: black;
    background-color: aliceblue;
    /* border: 1px solid black; */
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px rgb(175, 221, 254);
}
footer{
    position: fixed;
    bottom: 0;
}
footer h5 {
    margin-left: 87%;
    margin-top: 20px;
}
