/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';    /* Bootstrap */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to right, #b92b27, #1565c0)*/
    /* background: linear-gradient(to right, #159957, #155799);  */
    background-color: #D4F1F4;
}