*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

header {
    position: absolute;
    width : 100%;
    height : 8vh;
    left:0%;
    color: aliceblue;
    background-color: #3388a1;
    /* border: 1px solid black; */
    box-shadow: 13px 13px 20px  #9ac4f1, -13px -13px 20px rgb(175, 221, 254);
}

img {
    border-radius: 50%;
    max-height: 5vh;
    margin: 5px;
    margin-top: 9px;
}

.headerTitle {
    margin-left: 0%;
    margin-top: 10px;
}

.userInfo {
    /* background-color: black; */
    border: 2px solid white;
    color: white; 
    position: absolute;
    margin-top: 12px;
    width: 150px;
    right:10vh;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

h6{
    margin: 0%;
}

.username-pic{
    position: absolute;
    width: 33px;
    height: 33px;
    top: 3px;
    right:32vh;
}

.logout-pic{
    position: absolute;
    right: 25px;
    width: 30px;
    height: 30px;
    top: 12px;
    border-radius: 22px;
}

.gotopages{
    position: absolute;
    top: 5px;
    right:52vh;
}
#navbarNav{
   /*background-color: #3388a1;
    margin-right: 0%;
    margin-top: 10px;
    color: white;
    position: absolute;
    padding-top: 1vh;
    left: 2vw;
    z-index:2;
    border-left: 1px solid;
    border-color: white;
    padding-left: 15px;
    padding-bottom: 5px;*/
    background-color: #3388a1;
    color: white;
    position: absolute;
    padding-top: .1vh;
    left: 2vw;
    z-index:2;
    border-left: 1px solid;
    border-color: white;
    padding-left: 15px;
    /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; */
}

.nav-item :hover{
    background-color: rgb(141, 219, 250);
    color: #998b0f;
}

.nav{
    margin-top: 0%;
}